/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* =========== My Styles =============*/
/* Colors 
707070
C9d8d1
3c494a
ffe032
68ad8e
170c11
00a5d5
-----AI file Colors---
fce64c-yellow Main
4c5b5c - Dark green Main
200c14 - nearly black
74baa0 light green accent1
00b2dc blue accent2
Fonts - Quicksand Eras*/

:root {
  --yellow-main-color: #fce64c;
  --green-main-color: #3f494a;
  --black-copy-color: #200c14;
  --green-accent-color: #74baa0;
  --blue-accent-color: #00b2dc;
  --light-blue-background: #c9d8d1;
}
/* SVG icon colors */
.cls-1 {
  fill: #fbe54c;
  fill-rule: evenodd;
}
.cls-2 {
  fill: #4c5b5c;
}
.cls-3 {
  fill: #74baa0;
}
body {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2rem;
  color: var(--yellow-main-color);
}
.container {
  background-color: var(--green-main-color);
  margin: 0 auto;
}
img {
  width: 100%;
}
h1,
h2,
h3 {
  font-family: Exo, Arial, Helvetica, sans-serif;
  text-align: center;
}
h1 {
  font-weight: 800;
  font-style: italic;
  font-size: 2.5rem;
  padding: 1rem;
  line-height: 3rem;
  color: var(--green-accent-color);
  -webkit-text-stroke: 1.5px var(--yellow-main-color);
}
h2 {
  font-size: 2rem;
  font-weight: bolder;
  line-height: 1.2em;
  padding: 0.5em 0;
}
h3 {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2em;
  padding: 0.5em;
}
h4 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding: 0.2em 0.2em;
}
a:link,
a:visited {
  color: #a8efff;
  text-decoration: none;
  font-weight: 600;
}
p {
  margin: 1em 0 1em 0;
}
button {
  font-family: Exo, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1em;
  background-color: var(--green-main-color);
  color: var(--yellow-main-color);
  padding: 0.5em 1em;
  border-radius: 15px;
  box-shadow: 10px 5px 10px var(--black-copy-color);
}
.skiplinks {
  position: absolute;
  top: -3em;
  background-color: black;
  color: white;
  padding: 0.5em 1em;
  font-weight: bold;
}
.skiplinks a:focus {
  top: 0;
}

.nav-banner {
  background-image: url(../images/banner_net_760_570.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.nav-banner img {
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3em;
  padding-top: 1.5em;
}
nav {
  font-family: Exo;
}
nav ul {
  background-color: var(--green-accent-color);
  display: flex;
  justify-content: space-around;
  text-align: center;
}
nav ul li {
  align-self: center;
}
nav ul li:nth-child(4) {
  display: none;
}
nav a:link,
nav a:visited {
  color: var(--black-copy-color);
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  flex-grow: 1;
  flex-shrink: 1;
  display: block;
  padding: 1rem 2rem;
}
nav a:hover {
  background-color: var(--yellow-main-color);
}
footer {
  background-color: var(--yellow-main-color);
  display: grid;
  grid-template-columns: 1.25fr 0.75fr 1fr;
  grid-template-rows: 1fr;
}
footer li {
  color: var(--black-copy-color);
}
.logo-footer {
  grid-column: 1;
  grid-row: 1;
  height: 4em;
  justify-self: center;
  align-self: center;
}
.sm-footer {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-content: center;
}
.sm-footer img {
  max-width: 2em;
  padding: 0.75em;
}
.sm-footer:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.sm-footer:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}
.sm-footer:nth-child(3) {
  grid-column: 1;
  grid-row: 2;
}
.sm-footer:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}
.contact-footer {
  grid-column: 3;
  grid-row: 1;
  justify-self: center;
  align-self: center;
}
/* ------------ Home 🏡 ---------------------*/
.banner {
  background-image: url(../images/kids_playing-760_x_506.jpg);
  background-position: 0px -75px; /*  x y &*/
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  padding: 5.5em;
}
.banner h3 {
  color: var(--black-copy-color);
  font-weight: bolder;
  text-align: center;
  position: absolute;
  bottom: 2%;
  right: 2%;
}
.details {
  margin: 0 0.75rem;
  padding: 0 0.75rem 1rem;
}
.details h2 {
  font-size: 2.5em;
  padding-top: 2rem;
}
.call-to-action {
  background-image: url(../images/hockey-stop-760_x_425.png);
  background-position: 0 -60px;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  padding: 5em;
}
.call-to-action button {
  position: absolute;
  bottom: 5%;
  right: 2%;
}
#basics {
  padding: 0 1em;
}
.contact {
  font-weight: 600;
}

/*----------About 🧖‍♂️ ---------*/
.mission,
.story,
.team-card {
  background-color: var(--light-blue-background);
  color: var(--black-copy-color);
}
.mission,
.story {
  margin: 0 0.75rem;
}
.mission p {
  font-weight: bold;
  text-align: center;
  padding: 0 1rem 1rem;
}
.story p {
  padding: 0 1rem 1rem;
}
.team-card h3 {
  text-align: left;
  padding: 0 0.2em;
}
.team-card h4 {
  padding-left: 0.5em;
}
.team {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  padding: 0 1em 3em 1em;
}
.team:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.team:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}
.team:nth-child(3) {
  grid-column: 1;
  grid-row: 2;
}
.team:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}
/*------------- Gear List ⚙  ----------------*/
.available,
.soon {
  margin-left: 3em;
}
.available ul,
.soon ul {
  list-style: circle;
}
.available ul li,
.soon ul li {
  padding: 0.2em 1em;
}
.soon {
  padding-bottom: 3em;
}

/*---------------------Store-----------------*/
#shop {
  height: 800px;
  overflow: auto;
}
#shop .pro {
  max-width: 50%;
  margin: 1em auto;
  border: 1px solid var(--yellow-main-color);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  transition: 0.2s ease;
  background-color: var(--light-blue-background);
  position: relative;
}
#shop .pr:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#shop .pro img {
  width: 100%;
  border-radius: 20px;
}
#shop .pro .des {
  text-align: start;
  padding: 10px;
}
#shop .pro .des span {
  color: var(--green-main-color);
  font-size: 14px;
  position: absolute;
  right: 10px;
  bottom: 50px;
}
#shop .pro .des h5 {
  padding-top: 7px;
  font-size: 18px;
  font-weight: bold;
  color: var(--black-copy-color);
}
#shop .pro .des h4 {
  padding-top: 7px;
  font-size: 14px;
  font-weight: bold;
  color: var(--black-copy-color);
}
#shop .pro .des button {
  position: absolute;
  bottom: 15px;
  right: 10px;
  max-width: 100px;
  font-size: 12px;
}
/* ==============  Tablet 760 to 1199px =============*/
@media screen and (min-width: 760px) {
  .container {
    width: 706px;
    margin: 0 auto;
  }
  body {
    background-color: var(--light-blue-background);
    font-size: 18px;
  }
  nav ul li:nth-child(4) {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1168px;

    margin: 0 auto;
  }
  body {
    font-size: 20px;
    line-height: 1.2em;
  }
  .nav-banner a {
    visibility: hidden;
  }
  .nav-banner {
    max-height: 200px;
    background-position: 0 -450px;
  }

  nav ul {
    justify-content: flex-end;
  }
  nav ul li:nth-child(4) {
    display: block;
  }
  nav ul li img {
    height: 50px;
    padding: 0.3em;
  }

  /*-----------Home 🏠 --------------*/
  .main-banner {
    display: flex;
  }
  .banner {
    width: 50%;
    margin: 0 1em 2.5em 1em;
  }
  .call-to-action {
    background-position: 0 -200px;
    padding: 9em;
  }
  .basics-container {
    display: flex;
    flex-direction: row-reverse;
  }
  .basics-container img {
    max-width: 50%;
    margin-bottom: 1em;
  }
  .basics-content {
    padding-right: 1em;
  }
  #basics {
    padding: 0;
    margin: 1em 1em 0 1em;
  }

  /*----------About 🧖‍♂️ ------------------*/
  .mission {
    display: flex;
  }
  .mission img {
    max-width: 50%;
  }
  .story {
    display: flex;
    flex-direction: row-reverse;
  }
  .story img {
    max-width: 50%;
  }
  .team {
    display: flex;
  }

  /*------------- Gear ⚙ -----------------*/
  /*-----------Shop-----------*/

  #shop .pro-container {
    max-height: 375px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
  }
  #shop .pro {
    max-width: 250px;
    padding: 10px 12px;
  }
}
